.flexContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flexElement {
  display: flex;
  align-items: center;
}

.description {
  align-content: center;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  -webkit-text-fill-color: #666666;
  /*background-color: blanchedalmond;*/
}
