label{
  min-width: 225px;
  align-content: flex-start;
}

#maintenanceScheduleDate {
  align-content: flex-start;
}

#maintenanceEndScheduleDate {
  align-content: flex-start;
}

.description {
  align-content: center;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  -webkit-text-fill-color: #666666;
  /*background-color: blanchedalmond;*/
}
