<div class="flexContainer">
  <div class="flexElement">
    <h3>
      <b><strong>Schedule Maintenance</strong></b>
    </h3>
    <div class="description"><span class="description">Schedule time site is expected to begin and end maintenance.</span></div>
    <div></div>
  </div>
  <div class="flexElement">
    <form
      [formGroup]="maintenanceInformation"
      class="flexContainer"
      *ngIf="showFormDisplay()"
    >
      <div class="input-group flexElement">
        <label>
          Schedule Maintenance Time:
        </label>
          <input
            formControlName="maintenanceScheduleDate"
            type="datetime-local"
            id="maintenanceScheduleDate"
            placeholder="MaintenanceScheduleDate"
          />
      </div>
      <div class="input-group flexElement">
        <label>
          Expected Maintenance End Time:
        </label>
          <input
            formControlName="maintenanceEndScheduleDate"
            type="datetime-local"
            id="maintenanceEndScheduleDate"
            placeholder="MaintenanceEndScheduleDate"
          />
      </div>
      <div class="flexElement">
        <button
          class="btn btn-default"
          type="submit"
          id="submitButton"
          (click)="setMaintenanceTime()"
        >
          Schedule Maintenance
        </button>
        <button
          class="btn btn-default"
          type="submit"
          id="endMaintenanceButton"
          (click)="endMaintenance()"
        >
          End Maintenance
        </button>
      </div>
    </form>
  </div>
</div>
