label{
  min-width: 150px;
  align-content: flex-start;
}

#badgeSerialNumber{
  min-width: 110px;
}

#assignedUser {
  min-width: 110px;
}

#activatedTime {
  align-content: flex-start;
}

.description {
  align-content: center;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  -webkit-text-fill-color: #666666;
  /*background-color: blanchedalmond;*/
}
