<div class="flexContainer">
  <label>
    To the extent the information in this data repository platform
    <em>(hereinafter referred to as "DRP")</em> and any documents procured
    contain protected health information as defined by the Health Insurance
    Portability and Accountability Act of 1996 ("HIPAA"), PL 104-191; 45 CFR
    Parts 160 and 164; it is confidential and/or privileged. The DRP is for the
    use of only the individuals or entities approved with prior authorization.
    If you are not an authorized individual, or any authorized representative of
    an authorized entity, you are hereby notified that any review,
    dissemination, or copying of information and/or its procured documents is
    strictly prohibited.
  </label>
  <br />
  <button (click)="onAcceptHIPAA()" class="btn btn-primary">Accept</button>
</div>
